@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Hoa Đà Lạt</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="apple-touch-icon" sizes="180x180" href="~/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="~/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="~/favicon-16x16.png">
	<link rel="manifest" href="~/manifest.json">
	<link rel="mask-icon" href="~/safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Hoa Đà Lạt</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<ul class="navbar-nav flex-grow-1 mr-auto">
						<li class="nav-item">
							<a class="nav-link text-dark @Html.IsSelected(actions: "Index", controllers: "Home")" asp-area="" asp-controller="Home" asp-action="Index">Trang chủ</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark @Html.IsSelected(actions: "Index", controllers: "Camera")" asp-area="" asp-controller="Camera" asp-action="Index">Camera</a>
						</li>
						@{
							string role = Context.Session.GetString("Role");
							if (role == Role.Expert)
							{
								<li class="nav-item">
									<a class="nav-link text-info @Html.IsSelected(actions: "Index", controllers: "Contribution")" asp-area="" asp-controller="Contribution" asp-action="Index">Đóng góp</a>
								</li>
							}
							else if (role == Role.Admin)
							{
								<li class="nav-item">
									<a class="nav-link text-info @Html.IsSelected(actions: "Index", controllers: "Admin")" asp-area="" asp-controller="Admin" asp-action="Index">Trang quản trị</a>
								</li>
							}
						}
						<li class="nav-item">
							<a class="nav-link text-dark @Html.IsSelected(actions: "Privacy", controllers: "Home")" asp-area="" asp-controller="Home" asp-action="Privacy">Điều khoản Riêng tư</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark @Html.IsSelected(actions: "About", controllers: "Home")" asp-area="" asp-controller="Home" asp-action="About">Giới thiệu</a>
						</li>
						@{
							string username = @Context.Session.GetString("Username");
							if (username == null)
							{
								<li class="nav-item">
									<a class="nav-link text-success @Html.IsSelected(actions: "Index", controllers: "Login")" asp-area="" asp-controller="Login" asp-action="Index">Đăng nhập</a>
								</li>
							}
							else
							{
								<li class="nav-item">
									<i class="nav-link text-success">Xin chào, @username</i>
								</li>
								<li class="nav-item">
									<a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="Logout">Đăng xuất</a>
								</li>
							}
						}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	@if (@Html.IsThisPage(actions: "Index", controllers: "Home") || @Html.IsThisPage(actions: "Index", controllers: "Camera") || @Html.IsThisPage(actions: "Index", controllers: "Login"))
	{
		<!--Random background-image-->
		<ul class="cb-slideshow">
			<li><span>Image 01</span></li>
			<li><span>Image 02</span></li>
			<li><span>Image 03</span></li>
			<li><span>Image 04</span></li>
			<li><span>Image 05</span></li>
		</ul>
	}
	<div class="container-xl">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<div class="overlay"></div>
	<footer class="border-top footer">
		<div class="container">
			<div class="center">
				<p>
					&copy; @DateTime.Now.Year - La Quốc Thắng, <a href="mailto:1610207@dlu.edu.vn">1610207@dlu.edu.vn</a><br />
					🧡 From <a href="https://github.com/quocthang0507" target="_blank">quocthang0507</a> with love ❤
				</p>
			</div>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/js/popper.min.js" type="text/javascript"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	@if (!@Html.IsLocalHost())
	{
		@RenderSection("Scripts", required: false)
		<script src="~/js/funcs.min.js" type="text/javascript" asp-append-version="true"></script>
		<script src="~/js/site.min.js" type="text/javascript" asp-append-version="true"></script>
	}
	else
	{
		@RenderSection("Scripts", required: false)
		<script src="~/js/funcs.js" type="text/javascript" asp-append-version="true"></script>
		<script src="~/js/site.js" type="text/javascript" asp-append-version="true"></script>
	}
</body>
</html>
